<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Listas" data-toc-modified-id="Listas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Listas</a></span><ul class="toc-item"><li><span><a href="#Creaci√≥n-de-listas" data-toc-modified-id="Creaci√≥n-de-listas-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Creaci√≥n de listas</a></span></li><li><span><a href="#Propiedades-de-las-listas" data-toc-modified-id="Propiedades-de-las-listas-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Propiedades de las listas</a></span></li><li><span><a href="#Indexaci√≥n" data-toc-modified-id="Indexaci√≥n-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Indexaci√≥n</a></span></li><li><span><a href="#M√©todos-de-las-listas" data-toc-modified-id="M√©todos-de-las-listas-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>M√©todos de las listas</a></span></li></ul></li><li><span><a href="#Tuplas" data-toc-modified-id="Tuplas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Tuplas</a></span><ul class="toc-item"><li><span><a href="#Creaci√≥n-de-tuplas" data-toc-modified-id="Creaci√≥n-de-tuplas-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creaci√≥n de tuplas</a></span></li><li><span><a href="#Propiedades-de-las-tuplas" data-toc-modified-id="Propiedades-de-las-tuplas-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Propiedades de las tuplas</a></span></li><li><span><a href="#Indexaci√≥n" data-toc-modified-id="Indexaci√≥n-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Indexaci√≥n</a></span></li><li><span><a href="#M√©todos-de-las-tuplas" data-toc-modified-id="M√©todos-de-las-tuplas-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>M√©todos de las tuplas</a></span></li></ul></li><li><span><a href="#Diccionarios" data-toc-modified-id="Diccionarios-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Diccionarios</a></span><ul class="toc-item"><li><span><a href="#Creaci√≥n-de-diccionarios" data-toc-modified-id="Creaci√≥n-de-diccionarios-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Creaci√≥n de diccionarios</a></span></li><li><span><a href="#Propiedades-de-los-diccionarios" data-toc-modified-id="Propiedades-de-los-diccionarios-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Propiedades de los diccionarios</a></span></li><li><span><a href="#Indexaci√≥n-de-los-diccionarios" data-toc-modified-id="Indexaci√≥n-de-los-diccionarios-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Indexaci√≥n de los diccionarios</a></span></li><li><span><a href="#M√©todos-de-los-diccionarios" data-toc-modified-id="M√©todos-de-los-diccionarios-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>M√©todos de los diccionarios</a></span></li></ul></li><li><span><a href="#Sets" data-toc-modified-id="Sets-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Sets</a></span><ul class="toc-item"><li><span><a href="#Creaci√≥n-de-sets" data-toc-modified-id="Creaci√≥n-de-sets-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Creaci√≥n de <em>sets</em></a></span></li><li><span><a href="#Indexaci√≥n-de-sets" data-toc-modified-id="Indexaci√≥n-de-sets-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Indexaci√≥n de <em>sets</em></a></span></li><li><span><a href="#M√©todos-de-los-sets" data-toc-modified-id="M√©todos-de-los-sets-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>M√©todos de los sets</a></span></li></ul></li></ul></div>

-----
En Python tenemos las siguientes estructuras de datos: 
    
1. Listas


2. Tuplas


3. Diccionarios


4. Sets
-----

# Listas

La listas son variables que almacenan elementos los cuales pueden ser de distintos tipos (*strings*, *integers*, *floats*, listas, etc.). Por lo tanto, una lista es una estructura de datos formada por una secuencia ordenada de objetos.

Algunas propiedades de las listas:

- Son ordenadas, mantienen el orden en el que han sido definidas.
  
- Pueden ser formadas por distintos tipos de datos.

- Pueden ser indexadas con [i].
  
- Se pueden anidar, es decir, meter una dentro de la otra.
  
- Son mutables, ya que sus elementos pueden ser modificados.Se pueden a√±adir o eliminar elementos. 


Para poder usar listas tenemos dos opciones: 

- Usando los `[]`

- Usando el m√©etodo `list()`

## Creaci√≥n de listas

In [2]:
# definimos una lista usando los []
lst = [1,2,4,6,8]

In [3]:
# veamos de que tipo es el objetito que acabamos de crear

print(lst, type(lst))

[1, 2, 4, 6, 8] <class 'list'>

In [13]:
list()

[]

In [14]:
# si queremos saber cual es el tipo de cada uno de los elementos de nuestra lista 
# podemos usar un for loop

for elemento in lst:
    print(type(elemento))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [15]:
# como hemos dicho, las listas son contenedores que pueden almacenar 
# cualquier tipo de dato, en este caso crearemos una lista con strings dentro

lst2 = ["hola", 23456, 19.09, 'Adios']

In [16]:
print(lst2, type(lst2))

['hola', 23456, 19.09, 'Adios'] <class 'list'>

In [17]:
for elemento in lst2:
    print(type(elemento))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

Hemos dicho que podr√≠amos crear una lista usando tambi√©n el m√©todo `list()`. ¬øC√≥mo lo podr√≠amos hacer?

In [18]:
# imaginemos que tenemos una string llamado saludo

saludo = "Hola, que tal"

In [19]:
# lo convertimos en lista

list(saludo)

['H', 'o', 'l', 'a', ',', ' ', 'q', 'u', 'e', ' ', 't', 'a', 'l']

Lo que ocurre cuando convertimos un *string* a una lista es que cada letra de nuestro *string* se convertir√° en un elemento de nuestra lista, por lo que tendremos que tener cuidado cuando apliquemos este m√©todo. 

¬øQu√© pasar√≠a si lo que quiero es convertir una secuencia de n√∫meros? üëáüèΩ

In [20]:
list(2,3)

TypeError: list expected at most 1 argument, got 2

Vaya... nos devolvi√≥ un error, y es que este m√©todo solo acepta un elemento y nosotros le estamos pasando dos!!! Por lo tanto, deberemos pasarle un √∫nico elemento a este m√©todo. Podr√° ser un *string* (como vimos en el caso anterior) otra lista, u otro elemento de python, como una tupla o un diccionario (que aprenderemos a lo largo de esta lecci√≥n)

In [21]:
[2, 3]

[2, 3]

In [23]:
list(1)

TypeError: 'int' object is not iterable

## Propiedades de las listas

In [24]:
len(lst)

5

In [25]:
# si queremos saber la longitud de nuestra lista, o lo que es lo mismo, 
# el n√∫mero de elementos que tiene usaremos el m√©todo len

print("lst tiene", len(lst), "elementos")
print("lst2 tiene", len(lst2), "elementos")

lst tiene 5 elementos
lst2 tiene 4 elementos

In [26]:
max(lst)

8

In [27]:
# tambi√©n podemos sacar los valores m√°ximos y m√≠nimos de nuestra lista
# ‚ö†Ô∏è NOTA: esto solo se podr√° hacer si todos los elementos de la lista son num√©ricos


print("el m√°ximo es:", max(lst))
print("el m√≠nimo es:", min(lst))

el m√°ximo es: 8
el m√≠nimo es: 1

In [111]:
# veamos un ejemplo combinando string con n√∫meros

lst3 = ["alumnos", 3, "chocolate"]

In [29]:
print("el m√°ximo es:", max(lst3))

TypeError: '>' not supported between instances of 'int' and 'str'

In [30]:
lst4 = ['hola', 'Zenon', 'CArahiu8evop']

In [32]:
print("el m√°ximo es:", max(lst4))

el m√°ximo es: hola

In [34]:
print("el m√≠nimo es:", min(lst4))

el m√≠nimo es: CArahiu8evop

In [38]:
lst5 = ['cara', 'caraz']
print("el m√°ximo es:", max(lst5))
print("el m√≠nimo es:", min(lst5))

el m√°ximo es: caraz
el m√≠nimo es: cara

In [35]:
'a' < 'A'

False

In [36]:
'A' < 'a'

True

In [39]:
# tambi√©n podemos chequear si un n√∫mero dado est√° incluido en nuestra lista:

print(5 in lst)
print(1 in lst)

False
True

In [40]:
5 not in lst

True

## Indexaci√≥n


Como hemos dicho son objetos que tienen orden, al tener orden podemos acceder a cada uno de sus elementos utilizando los √≠ndices

![index_listas.png](https://github.com/Ironhack-Data-Madrid-PartTime-Oct22/imagenes/blob/master/semana-1/listas.png?raw=true)

In [47]:
# vamos a crear una secuencia de n√∫meros aleatorios usando la librer√≠a random. 

import random

aleatoria = random.sample(range(0, 100), 20) 
# generamos 20 n√∫meros aleatorios entre el 0-99


aleatoria

[58, 29, 42, 43, 93, 49, 11, 50, 27, 84, 66, 86, 57, 53, 82, 1, 32, 78, 35, 52]

In [48]:
# accedemos al primer elemento

aleatoria[0]

58

In [49]:
type(aleatoria[0])

int

In [50]:
# accedemos al √∫ltimo elemento

aleatoria[-1]

52

In [53]:
# otra forma de acceder al √∫ltimo elemento

N = len(aleatoria)

aleatoria[N-1]

52

In [54]:
# accedemos a los dos primero elementos (slicing)

aleatoria[0:2]

[58, 29]

In [55]:
aleatoria[ :2]   #es lo mismo que lo anterior

[58, 29]

In [56]:
# accedemos a todos los elementos menos los siete primeros

aleatoria[7:]

[50, 27, 84, 66, 86, 57, 53, 82, 1, 32, 78, 35, 52]

In [57]:
aleatoria[:]

[58, 29, 42, 43, 93, 49, 11, 50, 27, 84, 66, 86, 57, 53, 82, 1, 32, 78, 35, 52]

In [58]:
# [start:stop:step]


aleatoria[2:9:2]  # desde el segundo al noveno de dos en dos

[42, 93, 11, 27]

In [62]:
aleatoria[::3]   # desde el principio al final de tres en tres

[58, 43, 11, 84, 57, 1, 35]

In [65]:
aleatoria[-1:0:-1]  # desde el ultimo al primero hacia atras de uno en uno, primero queda furra

[52, 35, 78, 32, 1, 82, 53, 57, 86, 66, 84, 27, 50, 11, 49, 93, 43, 42, 29]

In [61]:
aleatoria[::-1]   # desde el ultimo al primero hacia atras de uno en uno, todo, es decir dar la vuelta

[52, 35, 78, 32, 1, 82, 53, 57, 86, 66, 84, 27, 50, 11, 49, 93, 43, 42, 29, 58]

## M√©todos de las listas
El el objeto de tipo lista tiene una serie de m√©todos integrados. Veamos algunos de los principales:

In [72]:
# crearemos una lista nueva utilizando el m√©todo range
lst4 = list(range(1, 40, 2))

In [73]:
print(lst4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

`index`: devuelve el √≠ndice en el que aparece un elemento

In [75]:
# ¬øen qu√© posici√≥n aparece el n√∫mero 9?

lst4.index(9)

4

In [76]:
lst4[4]

9

In [77]:
# ¬øen qu√© posici√≥n aparece el n√∫mero 39?
lst4.index(39)

19

`append`: a√±ade un elemento al final de la lista

In [78]:
# a√±adimos un elemento nuevo (en este caso el n√∫mero 10) en lst4

lst4.append(51)

In [79]:
# si miramos ahora la lista veremos que lst4 tiene un nuevo elemento al final, el n√∫mero 10. 

print(lst4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 51]

In [80]:
# como las listas aceptan distintos tipos de datos, podr√≠amos a√±adir un elemento que fuera un string

lst4.append('cosinchis')

In [81]:
print(lst4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 51, 'cosinchis']

In [85]:
# tambi√©n podemos apendear listas. Pero atenci√≥n ‚ö†Ô∏è toda la lista ser√° un elemento, es decir, tendremos una lista de listas

lst4.append(['pepe',2,3,4,5])

In [86]:
print(lst4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 51, 'cosinchis', [1, 2, 3, 4, 5], ['pepe', 2, 3, 4, 5]]

In [87]:
# Como vimos antes, si accedemos al √∫ltimo elemento de lst4 veremos que es la lista completa

lst4[-1]

['pepe', 2, 3, 4, 5]

In [89]:
# Si queremos acceder a "pepe" tendremos que seleccionar la sublista
lst4[-1]

# dentro de la sublista seleccionar el elemento que est√° en la posici√≥n 0
lst4[-1][0]   # doble indice

'pepe'

`extend`: une una lista a otra

In [90]:
# creemos de nuevo una lista nueva

lst5 = list(range(0,10,2))
lst5

[0, 2, 4, 6, 8]

In [91]:
# tambi√©n trabajaremos con la lst3, recordemos como era
lst3

['alumnos', 3, 'chocolate']

In [92]:
# juntemos la lst5 con la lst3

lst5 + lst3 # esto es a las bravas, no recomendado por memoria

[0, 2, 4, 6, 8, 'alumnos', 3, 'chocolate']

In [93]:
lst5.extend(lst3)   # esta la opcion rapida, eficiente

In [94]:
print(lst5)

[0, 2, 4, 6, 8, 'alumnos', 3, 'chocolate']

¬øQu√© es lo que ha pasado aqu√≠? ¬øQu√© diferencia al `append()` del `extend()`? 

- Si nos fijamos cuando usamos el m√©todo `extend()` lo que hacemos es a√±adir los elementos de una lista a otra de uno en uno. 

- Por el contrario, con el `append()` lo que hacemos es apendear la lista tal cu√°l, como un elemento m√°s de la lista de origen.

`insert`: agrega un elemento a la lista en un √≠ndice espec√≠fico

 **¬°¬°¬° RECORDEMOS !!! para usar este m√©todo necesitaremos :** 

1Ô∏è‚É£ La POSICI√ìN donde queremos insertar los datos  


2Ô∏è‚É£ El DATO que queremos insertar

In [95]:
# insertamos un 90 en la posici√≥n 0

lst5.insert(0, 90) 
print(lst5)

[90, 0, 2, 4, 6, 8, 'alumnos', 3, 'chocolate']

In [96]:
# insertamos un "hola mundo" en tercer indice, posicion cuatro, empieza en cero

lst5.insert(3, "hola mundo")
print(lst5)

[90, 0, 2, 'hola mundo', 4, 6, 8, 'alumnos', 3, 'chocolate']

`count`: cuenta el n√∫mero de veces que aparece un elemento

In [97]:
lst5.count(2)

1

In [100]:
# para encontrar a pepe tenemos que acceder a la lista primero
lst4[-1].count('pepe')

1

In [101]:
lst4.count('pepe')

0

`reverse`: le da la vuelta a la lista

In [102]:
# recordemos que es lst3
lst3

['alumnos', 3, 'chocolate']

In [103]:
lst3.reverse()   # sobreescribe la lista

In [105]:
# vereis en algunas ocasiones esta forma de darle la vuelta a una lista
lst3[::-1]

['alumnos', 3, 'chocolate']

In [106]:
lst3

['chocolate', 3, 'alumnos']

In [107]:
lst3 = lst3[::-1]

lst3

['alumnos', 3, 'chocolate']

In [108]:
#lst3 = lst3.reverse()  # cuidado con esto, se convierte en None

In [110]:
print(lst3)

None

`sort`: ordena autom√°ticamente los elementos de una lista por su valor de menor a mayor

üö® Este m√©todo sobreescribe la lista original!

In [113]:
lst3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [117]:
lst.append(0)

lst

[1, 2, 4, 6, 8, 0]

In [118]:
lst.sort()

In [119]:
lst

[0, 1, 2, 4, 6, 8]

‚ö†Ô∏è Ojo!!!! Si tenemos en nuestra lista elementos que no todos del mismo tipo no podremos ordenarla. El error que tenemos arriba üëÜüèº

In [120]:
# para hacer el ejemplo de ordenar vamos a crearnos una lista nueva
lst6 = [23, 1, 23, 78, 2, 34, 2]

In [121]:
lst6.sort()

In [122]:
lst6

[1, 2, 2, 23, 23, 34, 78]

**NOTA**: si nos fijamos por defecto ordena de menor a mayor. En caso de que querramos ordenar de mayor a menor podremos utilizar el argumento `reverse = True` para indicar que la ordene al rev√©s

In [123]:
lst6.sort(reverse = True)

In [124]:
lst6

[78, 34, 23, 23, 2, 2, 1]

¬øQu√© pasar√≠a si nuestra lista estuviera compuesta por *strings*?

In [125]:
lst7 = ["chorizo", "brocoli", "patatas"]

In [126]:
lst7.sort()
lst7

['brocoli', 'chorizo', 'patatas']

`sorted`: ordena los elementos de una lista, **pero a diferencia del sort no nos sobreescribe la lista original, tendremos que crearnos una variable nueva**

In [127]:
lst8 = [8, 9, 4,26, 19]

In [128]:
sorted(lst8)

[4, 8, 9, 19, 26]

In [129]:
# si ahora vemos el resultado el m√©todo anterior, veremos que la lista no ha sido modificada. 

lst8

[8, 9, 4, 26, 19]

In [130]:
# para guardar los resultados del sorted tendremos que asignarlo a una nueva variable

lst8_ordenado = sorted(lst8)

lst8_ordenado

[4, 8, 9, 19, 26]

`pop`: elimina un elemento de la lista. 

üö® Por defecto elimina un elemento al azar de la lista.

In [131]:
lst3

['alumnos', 3, 'chocolate']

In [132]:
lst3.pop()

'chocolate'

In [133]:
lst3

['alumnos', 3]

In [134]:
# üö® tambi√©n le podemos especificar que elemento queremos eliminar a trav√©s de su posici√≥n

lst3.pop(0)

'alumnos'

In [135]:
lst3

[3]

In [138]:
lst5.index('hola mundo')

3

In [139]:
indice = lst5.index('hola mundo')

lst5.pop(indice)

'hola mundo'

In [140]:
lst5

[90, 0, 2, 4, 6, 8, 'alumnos', 3, 'chocolate']

`remove`: borra el primer elemento de la lista cuyo valor concuerde con el que especificamos

In [141]:
lst6

[78, 34, 23, 23, 2, 2, 1]

In [145]:
lst6.remove(2)

In [146]:
lst6

[78, 34, 23, 23, 2, 1]

In [147]:
# si especificamos un valor que no esta en nuestra lista nos dar√° un value error
lst6.remove(10)

ValueError: list.remove(x): x not in list

`clear`: vac√≠a todos los √≠tems de una lista

In [148]:
lst3

[3]

In [149]:
lst3.clear()

In [150]:
lst3

[]

# Tuplas

Las tuplas en Python  son muy similares a las listas, pero con dos diferencias:

- Son inmutables, lo que significa que no pueden ser modificadas una vez declaradas. 
  
- En vez de inicializarse con corchetes se hace con (). Dependiendo de lo que queramos hacer, las tuplas pueden ser m√°s r√°pidas.

Al igual que las listas las podemos crear de dos formas diferentes: 

- Usando los `()` como hemos mencionado

- Usando el m√©todo `tuple()`

## Creaci√≥n de tuplas

In [151]:
tupla = (1,2,3,4,5,6,7,8,9)

In [152]:
type(tupla)

tuple

In [153]:
# otra forma de crear una tupla
tupla2 = tuple()
type(tupla2)

tuple

In [154]:
# otra forma m√°s, lo podemos hacer con n√∫meros

(1,)

(1,)

In [155]:
type((1,))

tuple

In [156]:
(1)

1

In [157]:
type((1))

int

In [158]:
chorizo = 1, 
type(chorizo)

tuple

In [159]:
# o con strings
brocoli = "I", 
type(brocoli)

tuple

## Propiedades de las tuplas

In [160]:
# Al igual que en las listas podremo usar len() para conocer el n√∫mero de elementos de la tupla
len(tupla)

9

In [161]:
# tambi√©n podremos sacar sus valores m√°ximos y m√≠nimos
print("el valor m√°ximo es: ", max(tupla))
print("el valor m√≠nimo es: " ,min(tupla))

el valor m√°ximo es:  9
el valor m√≠nimo es:  1

**¬øQu√© significa que son inmutables?**

In [162]:
print(lst6)

[78, 34, 23, 23, 2, 1]

In [164]:
# Si queremos cambiar el valor de un elemento de una lista solo tendremos que hacer esto
# Si queremos reemplazar el 2 (que esta en la posici√≥n 0) por un 100

lst6[0] = 100

In [165]:
print(lst6)

[100, 34, 23, 23, 2, 1]

In [166]:
# si lo intentamos para una tupla nos dar√° error ü§ì, SON INMUTABLES!
tupla[0]

1

In [167]:
tupla[0] = 100

TypeError: 'tuple' object does not support item assignment

Podemos hacerla mutable convirtiendola a lista, cambiando lo queremos y volviendola a hacer tupla

In [169]:
# vamos a cambiar el primer elemento por un 100. 
# Primero convertimos a lista

lista_tupla = list(tupla)
lista_tupla

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [170]:
# cambiamos el valor
lista_tupla[0] = 100
lista_tupla

[100, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
# volvemos a convertir a tupla
tupla = tuple(lista_tupla)
tupla

(100, 2, 3, 4, 5, 6, 7, 8, 9)

In [172]:
# otra posible forma de modificar una tupla
tup1 = (1,2,3)

tup2 = (4,5,6)

tup3 = "Hola"

In [173]:
tup1 = tup3

tup1

'Hola'

In [174]:
type(tup1)

str

Pero ojo aqu√≠! üö® En realidad no la estamos modificando. Estamos creando una tupla nueva y luego machacando el valor original de nuestra tupla

 üìå Como son inmutables, no tienen m√©todos para a√±adir elementos ( *append*) o eliminar (*pop* o *remove*)

## Indexaci√≥n

üìå La indexaci√≥n en las tuplas es igual que en las listas

In [175]:
# imaginemos que tenmos la siguiente tupla

tupla1 = (100, "Hola", [1,2,3], -50)

In [176]:
tupla1[1]

'Hola'

In [177]:
tupla1[-1]

-50

In [178]:
print(type(tupla1[0]))

<class 'int'>

In [179]:
print(type(tupla1[2]))

<class 'list'>

In [180]:
# slicing
tupla[3:]

(4, 5, 6, 7, 8, 9)

## M√©todos de las tuplas

In [181]:
tup = (1,4, "pepe", "zanahoria", ["adios", "que tal"])

`index`: busca un elemento y nos da su posici√≥n en la tupla

In [182]:
tup.index("pepe")

2

`count`: cuenta cu√°ntas veces aparece un elemento en la tupla

In [183]:
tup.count(4)

1

**C√≥mo son inmutables, no tendremos los m√©todos que ten√≠amos en listas para eliminar elementos o vaciar la tupla)**

# Diccionarios

![image.png](https://github.com/Ironhack-Data-Madrid-PartTime-Oct22/imagenes/blob/master/semana-1/diccionarios.png?raw=true)

Los diccionarios en Python nos permiten almacenar una serie de mapeos entre dos conjuntos de elementos, llamados keys and values (Claves y Valores).

- Todos los elementos en el diccionario se encuentran encerrados en un par de llaves `{}`.


- Cada elemento en un diccionario contiene una clave (*key*) y un valor (*value*) - es decir un par de clave-valor.



- Cada par de clave-valor es denominado como elemento (item).


- Puede almancenar cualquier tipo de tipo o estructura de datos (*integers*, *floats*, *booleanos*, listas, etc.). 


- Son **mutables** y **sin orden**.


- Las keys son **√∫nicas**.

-----
**¬øC√≥mo podemos crear diccionarios?**

- Usando el m√©todo `dict()`


- Usando las `{}` y definiendo nosotros mismos las `keys` y los `values`

## Creaci√≥n de diccionarios

In [184]:
# usando dict(). Creamos un diccionario vacio

dict1 = dict()
dict1

{}

In [185]:
# usando las {} creamos un diccionario vac√≠o

dict2 = {}
dict2

{}

In [186]:
# usando las {}

dict2 = {'python': 27, 'plone': 51}
dict2

{'python': 27, 'plone': 51}

In [187]:
dict3 = {27:'python', 51:'plone'}
dict3

{27: 'python', 51: 'plone'}

## Propiedades de los diccionarios

In [188]:
# para saber cuantos pares de key:values tenemos usaremos "len" como en las listas

len(dict2)

2

In [189]:
# para conocer las keys que tiene nuestro diccionario

dict2.keys()

dict_keys(['python', 'plone'])

In [190]:
# para acceder a los values de nuestro diccionario

dict2.values()

dict_values([27, 51])

In [191]:
dict2.items()

dict_items([('python', 27), ('plone', 51)])

## Indexaci√≥n de los diccionarios

Ya sabemos crear diccionarios, pero... ¬øC√≥mo accedemos a sus elementos si no tienen orden?

In [192]:
dict2[0]

KeyError: 0

In [193]:
# podemos acceder a los valores de un diccionario a trav√©s de sus keys

dict2['python']

27

In [194]:
dict2[27]

KeyError: 27

In [195]:
dict2['plone']

51

In [196]:
# para cambiar el value de una key

dict2['python'] = 129

In [197]:
dict2['python']

129

In [198]:
dict2

{'python': 129, 'plone': 51}

## M√©todos de los diccionarios

In [199]:
diccionario = {"Pepe": 45, "Rosa": 30, "Rodrigo": 19, "Irene": 98}

`items`: devuelve una lista de pares de diccionarios(key:values), como tuplas

In [200]:
diccionario.items()

dict_items([('Pepe', 45), ('Rosa', 30), ('Rodrigo', 19), ('Irene', 98)])

`get`: busca un elemento a partir de su clave

In [201]:
diccionario.get('Pepe')

45

In [202]:
# si queremos ver los pares de key values usando un for tenemos que usar
## el m√©todo .items()

for clave, valor in diccionario.items():
    print(clave, "---->", valor)

Pepe ----> 45
Rosa ----> 30
Rodrigo ----> 19
Irene ----> 98

In [204]:
for e in diccionario:
    print(e)

Pepe
Rosa
Rodrigo
Irene

In [205]:
for e in diccionario.keys():
    print(e)

Pepe
Rosa
Rodrigo
Irene

In [207]:
# con este m√©todo podemos pasar otro par√°metro para que en caso de que no exista la key nos devuelva un valor por defecto

dict2['NO']

KeyError: 'NO'

In [209]:
print(dict2.get('NO'))

None

In [210]:
dict2.get('Pepa', 'No existe')

'No existe'

`setdefault`: es similar al `get`. En este caso, si la *key* no existe la crea y asigna el value del valor por defecto que indicamos

In [211]:
dict2.setdefault('Pepa', 'No existe')

'No existe'

In [212]:
dict2

{'python': 129, 'plone': 51, 'Pepa': 'No existe'}

In [213]:
type(dict2['Pepa'])

str

`update`: actualiza el diccionario a√±adiendo un nuevo par de key:value en formato diccionario

In [214]:
nuevo_item = {"Ana": 33}

diccionario.update(nuevo_item)

In [215]:
diccionario

{'Pepe': 45, 'Rosa': 30, 'Rodrigo': 19, 'Irene': 98, 'Ana': 33}

In [216]:
# lo podemos hacer pas√°ndole directamente el diccionario
# podemos incluir todas los key/values que queremos en el update

diccionario.update({"Rocio": 23, "Manuel": 34 })

In [217]:
diccionario

{'Pepe': 45,
 'Rosa': 30,
 'Rodrigo': 19,
 'Irene': 98,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34}

In [218]:
diccionario['Yona'] = 39

diccionario

{'Pepe': 45,
 'Rosa': 30,
 'Rodrigo': 19,
 'Irene': 98,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34,
 'Yona': 39}

¬øQu√© pasa si sumamos dos diccionarios? NOS DA ERROR!!!!

In [219]:
diccionario2 = {"Lorena": 3}

In [220]:
diccionario + diccionario2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [221]:
# podriamos hacer algo como esto:
diccionario3 = [diccionario , diccionario2]
diccionario3

[{'Pepe': 45,
  'Rosa': 30,
  'Rodrigo': 19,
  'Irene': 98,
  'Ana': 33,
  'Rocio': 23,
  'Manuel': 34,
  'Yona': 39},
 {'Lorena': 3}]

‚ö†Ô∏è Pero ojo! Esto üëÜ es una lista de diccionarios

In [222]:
type(diccionario3)

list

In [223]:
# y cada uno de los elementos de mi lista ser√° un diccionario
diccionario3[0]

{'Pepe': 45,
 'Rosa': 30,
 'Rodrigo': 19,
 'Irene': 98,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34,
 'Yona': 39}

In [224]:
diccionario3[1]

{'Lorena': 3}

`sorted`: nos ordena el diccionario

In [225]:
sorted(diccionario) # ordenamos las keys

['Ana', 'Irene', 'Manuel', 'Pepe', 'Rocio', 'Rodrigo', 'Rosa', 'Yona']

In [226]:
sorted(diccionario.items())

[('Ana', 33),
 ('Irene', 98),
 ('Manuel', 34),
 ('Pepe', 45),
 ('Rocio', 23),
 ('Rodrigo', 19),
 ('Rosa', 30),
 ('Yona', 39)]

In [227]:
sorted(diccionario.items(), reverse = True)

[('Yona', 39),
 ('Rosa', 30),
 ('Rodrigo', 19),
 ('Rocio', 23),
 ('Pepe', 45),
 ('Manuel', 34),
 ('Irene', 98),
 ('Ana', 33)]

`copy`: hace una copia exacta de nuestro diccionario

In [228]:
diccionario2 = diccionario.copy()

In [229]:
diccionario2

{'Pepe': 45,
 'Rosa': 30,
 'Rodrigo': 19,
 'Irene': 98,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34,
 'Yona': 39}

¬øQu√© pasa si no uso `copy` y hago la igualdad de diccionarios?

In [230]:
diccionario4 = diccionario

In [231]:
diccionario4

{'Pepe': 45,
 'Rosa': 30,
 'Rodrigo': 19,
 'Irene': 98,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34,
 'Yona': 39}

In [232]:
# vamos a hacer una modificacion en diccionario4

diccionario4['Pepe'] = 101

diccionario4

{'Pepe': 101,
 'Rosa': 30,
 'Rodrigo': 19,
 'Irene': 98,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34,
 'Yona': 39}

In [233]:
# ¬øQu√© ha pasado con el diccionario original?

diccionario

{'Pepe': 101,
 'Rosa': 30,
 'Rodrigo': 19,
 'Irene': 98,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34,
 'Yona': 39}

‚ö†Ô∏èüö® SE HA MODIFICADO TAMBI√âN ‚ö†Ô∏èüö®. Conclusi√≥n, no hacerlo nunca!

`pop`: elimina una *key* espec√≠fica

In [234]:
diccionario.pop('Irene')

98

In [235]:
diccionario

{'Pepe': 101,
 'Rosa': 30,
 'Rodrigo': 19,
 'Ana': 33,
 'Rocio': 23,
 'Manuel': 34,
 'Yona': 39}

In [236]:
# si no le pasamos ning√∫n par√°metro al pop() nos dar√° error ya que no sabe que elemento queremos quitar

diccionario.pop()

TypeError: pop expected at least 1 argument, got 0

`clear`: elimina todos los elementos del diccionario

In [237]:
diccionario2.clear()

In [238]:
diccionario2

{}

# Sets

Un *set* o conjunto es una colecci√≥n **no ordenada** de elementos √∫nicos. 

Los conjuntos son ampliamente utilizados en l√≥gica y matem√°ticas, y desde Python podemos sacar provecho de sus propiedades para crear c√≥digo m√°s eficiente y legible en menos tiempo. 

Los *set* en Python son un tipo que permite almacenar varios elementos y acceder a ellos de una forma muy similar a las listas pero con ciertas diferencias:

- Los elementos de un *set* son √∫nicos, lo que significa que no puede haber elementos duplicados.

- Los *set* son desordenados, lo que significa que no mantienen el orden de cuando son declarados.

- Al igual que las tuplas, sus elementos deben ser inmutables.


-----
**¬øC√≥mo podemos crear un set?**

- Usando el m√©todo `set()`

- Usando `{}`


‚ö†Ô∏è NOTA: lo tenemos que crear vacios y luego vamos a√±adiendo los elementos.

## Creaci√≥n de *sets*

In [241]:
s = set()

type(s)

set

In [242]:
s = {}

type(s)

dict

In [243]:
s = {()}

type(s)

set

In [246]:
lista = [0,1,1,1,2,3,43,4,4,4,4,4,4,0,5,56,56,65,6,6]

lista

[0, 1, 1, 1, 2, 3, 43, 4, 4, 4, 4, 4, 4, 0, 5, 56, 56, 65, 6, 6]

In [247]:
s = set(lista)    # valores unicos

s

{0, 1, 2, 3, 4, 5, 6, 43, 56, 65}

## Indexaci√≥n de *sets*

üìå Como no tienen orden no podemos acceder a sus elementos como en las listas o las tuplas

In [249]:
s[0]

TypeError: 'set' object is not subscriptable

## M√©todos de los sets

`add`: a√±ade un item a un set. Si ya existe no lo a√±ade

In [259]:
s.add(2)
s.add(4)
s.add(9)

In [260]:
s

{0, 1, 2, 3, 4, 5, 6, 9, 43, 56, 65}

In [261]:
list(s)

[0, 1, 2, 3, 4, 5, 65, 6, 9, 43, 56]

`copy`: hace una copia del set

In [262]:
s2 = s.copy()

s2

{0, 1, 2, 3, 4, 5, 6, 9, 43, 56, 65}

`discard`: borra un elemento de un set

In [263]:
s.discard(0)

In [264]:
s

{1, 2, 3, 4, 5, 6, 9, 43, 56, 65}

`clear`: borra todos los elementos de un set

In [265]:
s.clear()

In [266]:
s

set()

Los sets tienen una serie de m√©todos que nos van a permitir realizar comparaciones entre dos sets. Vamos a ver algunos de los m√°s importantes:

In [267]:
set1=set([2,2,3,4,4,5,5,5,5,5,5,5,6,7,7,8,98])

set2=set([7,8,8,76,6,5,45,54,5,3,56,7,68,8,68,6])

In [268]:
set1

{2, 3, 4, 5, 6, 7, 8, 98}

In [269]:
set2

{3, 5, 6, 7, 8, 45, 54, 56, 68, 76}

`union`: une un set a otro y devuelve el resultado del nuevo conjunto

In [270]:
set1.union(set2)

{2, 3, 4, 5, 6, 7, 8, 45, 54, 56, 68, 76, 98}

In [271]:
set2.union(set1)

{2, 3, 4, 5, 6, 7, 8, 45, 54, 56, 68, 76, 98}

`intersection`: devuelve un conjunto con los elementos comunes en los dos conjuntos

In [272]:
set1.intersection(set2)

{3, 5, 6, 7, 8}

`issubset`: comprueba si el set es un subconjunto de otro set, es decir, si sus elementos se encuentran **todos** dentro de otro (contenido)

In [273]:
set1.issubset(set2)

False

`issuperset`: comprueba si el set es un superconjunto de otro set, es decir, si sus elementos se encuentran **todos** dentro de otro (contenedor)

In [274]:
set1.issuperset(set2)

False

`difference`: encuentra los elementos no comunes entre los dos sets

In [275]:
set1.difference(set2)

{2, 4, 98}

üìù**Diferencias entre las distintas estructuras de datos** üìù

![alaaaa.png](https://github.com/Ironhack-Data-Madrid-PartTime-Oct22/imagenes/blob/master/semana-1/estructuras_datos.png?raw=true)

**Material adicional**

- [M√©todos de los diccionarios](https://j2logo.com/python/tutorial/tipo-dict-python/)


- [M√©todos de los diccionarios II](https://entrenamiento-python-basico.readthedocs.io/es/latest/leccion3/tipo_diccionarios.html)


- [M√©todos de los sets](https://docs.hektorprofe.net/python/metodos-de-las-colecciones/metodos-de-los-conjuntos/)