<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¬øQu√©-son?" data-toc-modified-id="¬øQu√©-son?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¬øQu√© son?</a></span></li><li><span><a href="#Map" data-toc-modified-id="Map-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reduce</a></span></li></ul></div>

# ¬øQu√© son?

- Las tres funciones son funciones incorporadas aplicadas a iterables (listas, tuplas etc.), que realizan operaciones de mapeo, c√°lculo recursivo y filtrado en los iterables. 


- Brindan un enfoque m√°s elegante y abreviado para nuestro c√≥digo.


- Estas tres funciones a menudo se usan junto con funciones lambda o *list comprehensions*.


![image.png](https://github.com/Ironhack-Data-Madrid-PartTime-Oct22/imagenes/blob/master/semana-3/MFR.png?raw=true)

# Map

Podemos utilizar la funci√≥n map de Python para generar una nueva lista a partir de un iterable.

Map es una funci√≥n que toma como entrada un iterable y una funci√≥n. Aplicar√° a cada elemento de la lista una acci√≥n  a trav√©s de esta funci√≥n (o una lambda) y producir√° una nueva lista con el mismo n√∫mero de elementos.

```python
# Sintaxis b√°sica de map
new_list = list(map(funcion, iterable))
```

üìå Los iterables pueden ser listas, tuplas o sets

Podemos usar funciones que vengas predefinidas en Pyhton:

In [2]:
lista_palabras = ["brocoli", "jamon", "chorizo", "huevo", "zanahoria", "brocoli"]

Queremos poner todos los elementos de nuestra lista en may√∫scula

In [3]:
# rollo clasico

mayus_lista = []

for palabra in lista_palabras:
    
    mayus_lista.append(palabra.upper())
    
mayus_lista

['BROCOLI', 'JAMON', 'CHORIZO', 'HUEVO', 'ZANAHORIA', 'BROCOLI']

In [4]:
# comprimido

mayus_lista2 = [palabra.upper() for palabra in lista_palabras]

mayus_lista2

['BROCOLI', 'JAMON', 'CHORIZO', 'HUEVO', 'ZANAHORIA', 'BROCOLI']

In [7]:
str.upper

In [8]:
#map(funcion, iterable)

map(str.upper, lista_palabras)

In [43]:
mayus = list(map(str.upper, lista_palabras))

mayus

['BROCOLI', 'JAMON', 'CHORIZO', 'HUEVO', 'ZANAHORIA', 'BROCOLI']

In [42]:
for e in map(str.upper, lista_palabras):
    print(e)

BROCOLI
JAMON
CHORIZO
HUEVO
ZANAHORIA
BROCOLI

In [11]:
list(map(str.upper, lista_palabras+[0]))

TypeError: descriptor 'upper' for 'str' objects doesn't apply to a 'int' object

In [12]:
set(map(str.upper, lista_palabras))

{'BROCOLI', 'CHORIZO', 'HUEVO', 'JAMON', 'ZANAHORIA'}

Tambi√©n podemos usar funciones que definamos nosotros. En este caso, queremos elevar al cuadrado todos los elementos de una lista de n√∫meros

In [15]:
import random

numeros = random.sample(range(1, 50), 20)

numeros

[3, 13, 24, 42, 20, 33, 41, 31, 21, 46, 47, 7, 32, 2, 36, 14, 43, 19, 22, 29]

In [24]:
# clasico

def cuadrado(lista):
    
    resultado = []
    
    for elemento in lista:
        
        resultado.append(elemento**2)
        
    return resultado

In [25]:
cuadrado(numeros)

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [26]:
# para el map, la funcion es solo para un elemento

def cuadrado_map(x):
    
    return x**2

In [27]:
list(map(cuadrado_map, numeros))

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [28]:
%%time

cuadrado(numeros)

CPU times: user 15 ¬µs, sys: 1 ¬µs, total: 16 ¬µs
Wall time: 17.9 ¬µs

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [29]:
%%time

map(cuadrado_map, numeros)

CPU times: user 5 ¬µs, sys: 1e+03 ns, total: 6 ¬µs
Wall time: 9.3 ¬µs

In [30]:
%%time

# se pierde tiempo en la conversion a lista

list(map(cuadrado_map, numeros))

CPU times: user 16 ¬µs, sys: 1e+03 ns, total: 17 ¬µs
Wall time: 19.3 ¬µs

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [31]:
mi_lambda = lambda x: x**2

In [33]:
%%time

list(map(mi_lambda, numeros))

CPU times: user 16 ¬µs, sys: 1 ¬µs, total: 17 ¬µs
Wall time: 18.8 ¬µs

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [45]:
%%time

cuad = list(map(lambda x: x**2, numeros))

cuad[:5]

CPU times: user 34 ¬µs, sys: 1e+03 ns, total: 35 ¬µs
Wall time: 38.9 ¬µs

[9, 169, 576, 1764, 400]

In [46]:
temps = [34, 21, 0, 14, -35]


list(map(lambda x: x + 273.15, temps))

[307.15, 294.15, 273.15, 287.15, 238.14999999999998]

ü§îü§Ø **Retito**, como lo har√≠amos con una lambda? ü§îü§Ø

En el `map` podemos incluir varios iterables. Por ejemplo, tenemos dos listas y queremos elevar el primer n√∫mero de una lista con el primer elemento de la segunda lista

In [47]:
lista1 = [1,2,3]
lista2 = [4,5,6]

In [49]:
list(zip(lista1, lista2))

[(1, 4), (2, 5), (3, 6)]

In [50]:
elevado = []

for n1, n2 in zip(lista1, lista2):
    elevado.append(n1 ** n2)
    
elevado

[1, 32, 729]

In [51]:
def elevar(n1, n2):
    
    elevado = []

    for n1, n2 in zip(lista1, lista2):
        elevado.append(n1 ** n2)

    return elevado

In [52]:
elevar(n1, n2)

[1, 32, 729]

In [53]:
def elevar(n1, n2):
    return n1**n2

In [54]:
list(map(elevar, lista1, lista2))

[1, 32, 729]

O incluso usando lambdas. Imaginas que queremos sumar los elementos de tres listas diferentes:

In [55]:
lambda n1, n2: n1**n2

In [59]:
list(map(lambda n1, n2: n1**n2, lista1, lista2))

[1, 32, 729]

In [60]:
list(map(lambda n1: n1**4, lista1, lista2))

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [64]:
dictio = {1: 3, 5: 6, 9: 3}

dictio.items()

dict_items([(1, 3), (5, 6), (9, 3)])

In [62]:
def elevar3(tupla):
    
    return tupla[0]**tupla[1]

In [63]:
list(map(elevar3, dictio.items()))

[1, 15625, 729]

In [65]:
list(map(lambda x: x[0]**x[1], dictio.items()))

[1, 15625, 729]

# Filter

Literalmente filtra los elementos seg√∫n una condici√≥n dada. 

La funci√≥n comprueba una determinada condici√≥n y decide si cada uno de los elementos del iterable cumple la condici√≥n dada o no. Despu√©s de comprobar la condici√≥n, la funci√≥n verifica verdadero o falso en consecuencia.


```python
# Sintaxis b√°sica de filter. Es la misma que el map!!
new_list = list(filter(funcion, iterable))
```



üìå El iterable puede ser listas, tuplas, sets

Supongamos que tenemos una lista de n√∫meros y queremos filtrar los n√∫meros "peque√±os". En este caso, peque√±os significa n√∫meros que son menores de 5. 

¬øC√≥mo se aplica `filter` para obtener el resultado?

ü§îü§Ø **Nuevo Retito**, como lo har√≠amos con una lambda? ü§îü§Ø

Tenemos una lista de n√∫meros y tenemos que sacar los impares

üåäüí™ **EJERCICIO** üí™üåä

Nos van a pasar una lista de palabras y sacar aquellas que tienen "i".

# Reduce

Reduce toma una condici√≥n y aplica esa condici√≥n al iterable de manera que nuestra salida se "reduce" a un solo valor.

En este caso necesitamos importarnos una librer√≠a

```python
from functools import reduce
```



```python
# Sintaxis b√°sica de reduce, igual que filter y map!
new_list = reduce(funcion, iterable) # ‚ö†Ô∏è ojo que en este caso no hay que poner `list`
```

Queremos encontrar la suma de todos los valores de nuestra lista.