<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Â¿QuÃ©-son?" data-toc-modified-id="Â¿QuÃ©-son?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Â¿QuÃ© son?</a></span></li><li><span><a href="#Map" data-toc-modified-id="Map-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reduce</a></span></li></ul></div>

# Â¿QuÃ© son?

- Las tres funciones son funciones incorporadas aplicadas a iterables (listas, tuplas etc.), que realizan operaciones de mapeo, cÃ¡lculo recursivo y filtrado en los iterables. 


- Brindan un enfoque mÃ¡s elegante y abreviado para nuestro cÃ³digo.


- Estas tres funciones a menudo se usan junto con funciones lambda o *list comprehensions*.


![image.png](https://github.com/Ironhack-Data-Madrid-PartTime-Oct22/imagenes/blob/master/semana-3/MFR.png?raw=true)

# Map

Podemos utilizar la funciÃ³n map de Python para generar una nueva lista a partir de un iterable.

Map es una funciÃ³n que toma como entrada un iterable y una funciÃ³n. AplicarÃ¡ a cada elemento de la lista una acciÃ³n  a travÃ©s de esta funciÃ³n (o una lambda) y producirÃ¡ una nueva lista con el mismo nÃºmero de elementos.

```python
# Sintaxis bÃ¡sica de map
new_list = list(map(funcion, iterable))
```

ðŸ“Œ Los iterables pueden ser listas, tuplas o sets

Podemos usar funciones que vengas predefinidas en Pyhton:

In [2]:
lista_palabras = ["brocoli", "jamon", "chorizo", "huevo", "zanahoria", "brocoli"]

Queremos poner todos los elementos de nuestra lista en mayÃºscula

In [3]:
# rollo clasico

mayus_lista = []

for palabra in lista_palabras:
    
    mayus_lista.append(palabra.upper())
    
mayus_lista

['BROCOLI', 'JAMON', 'CHORIZO', 'HUEVO', 'ZANAHORIA', 'BROCOLI']

In [4]:
# comprimido

mayus_lista2 = [palabra.upper() for palabra in lista_palabras]

mayus_lista2

['BROCOLI', 'JAMON', 'CHORIZO', 'HUEVO', 'ZANAHORIA', 'BROCOLI']

In [7]:
str.upper

In [8]:
#map(funcion, iterable)

map(str.upper, lista_palabras)

In [43]:
mayus = list(map(str.upper, lista_palabras))

mayus

['BROCOLI', 'JAMON', 'CHORIZO', 'HUEVO', 'ZANAHORIA', 'BROCOLI']

In [42]:
for e in map(str.upper, lista_palabras):
    print(e)

BROCOLI
JAMON
CHORIZO
HUEVO
ZANAHORIA
BROCOLI

In [11]:
list(map(str.upper, lista_palabras+[0]))

TypeError: descriptor 'upper' for 'str' objects doesn't apply to a 'int' object

In [12]:
set(map(str.upper, lista_palabras))

{'BROCOLI', 'CHORIZO', 'HUEVO', 'JAMON', 'ZANAHORIA'}

TambiÃ©n podemos usar funciones que definamos nosotros. En este caso, queremos elevar al cuadrado todos los elementos de una lista de nÃºmeros

In [15]:
import random

numeros = random.sample(range(1, 50), 20)

numeros

[3, 13, 24, 42, 20, 33, 41, 31, 21, 46, 47, 7, 32, 2, 36, 14, 43, 19, 22, 29]

In [24]:
# clasico

def cuadrado(lista):
    
    resultado = []
    
    for elemento in lista:
        
        resultado.append(elemento**2)
        
    return resultado

In [25]:
cuadrado(numeros)

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [26]:
# para el map, la funcion es solo para un elemento

def cuadrado_map(x):
    
    return x**2

In [27]:
list(map(cuadrado_map, numeros))

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [28]:
%%time

cuadrado(numeros)

CPU times: user 15 Âµs, sys: 1 Âµs, total: 16 Âµs
Wall time: 17.9 Âµs

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [29]:
%%time

map(cuadrado_map, numeros)

CPU times: user 5 Âµs, sys: 1e+03 ns, total: 6 Âµs
Wall time: 9.3 Âµs

In [30]:
%%time

# se pierde tiempo en la conversion a lista

list(map(cuadrado_map, numeros))

CPU times: user 16 Âµs, sys: 1e+03 ns, total: 17 Âµs
Wall time: 19.3 Âµs

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [31]:
mi_lambda = lambda x: x**2

In [33]:
%%time

list(map(mi_lambda, numeros))

CPU times: user 16 Âµs, sys: 1 Âµs, total: 17 Âµs
Wall time: 18.8 Âµs

[9,
 169,
 576,
 1764,
 400,
 1089,
 1681,
 961,
 441,
 2116,
 2209,
 49,
 1024,
 4,
 1296,
 196,
 1849,
 361,
 484,
 841]

In [45]:
%%time

cuad = list(map(lambda x: x**2, numeros))

cuad[:5]

CPU times: user 34 Âµs, sys: 1e+03 ns, total: 35 Âµs
Wall time: 38.9 Âµs

[9, 169, 576, 1764, 400]

In [46]:
temps = [34, 21, 0, 14, -35]


list(map(lambda x: x + 273.15, temps))

[307.15, 294.15, 273.15, 287.15, 238.14999999999998]

ðŸ¤”ðŸ¤¯ **Retito**, como lo harÃ­amos con una lambda? ðŸ¤”ðŸ¤¯

En el `map` podemos incluir varios iterables. Por ejemplo, tenemos dos listas y queremos elevar el primer nÃºmero de una lista con el primer elemento de la segunda lista

In [47]:
lista1 = [1,2,3]
lista2 = [4,5,6]

In [49]:
list(zip(lista1, lista2))

[(1, 4), (2, 5), (3, 6)]

In [50]:
elevado = []

for n1, n2 in zip(lista1, lista2):
    elevado.append(n1 ** n2)
    
elevado

[1, 32, 729]

In [51]:
def elevar(n1, n2):
    
    elevado = []

    for n1, n2 in zip(lista1, lista2):
        elevado.append(n1 ** n2)

    return elevado

In [52]:
elevar(n1, n2)

[1, 32, 729]

In [53]:
def elevar(n1, n2):
    return n1**n2

In [54]:
list(map(elevar, lista1, lista2))

[1, 32, 729]

O incluso usando lambdas. Imaginas que queremos sumar los elementos de tres listas diferentes:

In [55]:
lambda n1, n2: n1**n2

In [59]:
list(map(lambda n1, n2: n1**n2, lista1, lista2))

[1, 32, 729]

In [60]:
list(map(lambda n1: n1**4, lista1, lista2))

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [64]:
dictio = {1: 3, 5: 6, 9: 3}

dictio.items()

dict_items([(1, 3), (5, 6), (9, 3)])

In [62]:
def elevar3(tupla):
    
    return tupla[0]**tupla[1]

In [63]:
list(map(elevar3, dictio.items()))

[1, 15625, 729]

In [65]:
list(map(lambda x: x[0]**x[1], dictio.items()))

[1, 15625, 729]

# Filter

Literalmente filtra los elementos segÃºn una condiciÃ³n dada. 

La funciÃ³n comprueba una determinada condiciÃ³n y decide si cada uno de los elementos del iterable cumple la condiciÃ³n dada o no. DespuÃ©s de comprobar la condiciÃ³n, la funciÃ³n verifica verdadero o falso en consecuencia.


```python
# Sintaxis bÃ¡sica de filter. Es la misma que el map!!
new_list = list(filter(funcion, iterable))
```



ðŸ“Œ El iterable puede ser listas, tuplas, sets

Supongamos que tenemos una lista de nÃºmeros y queremos filtrar los nÃºmeros "pequeÃ±os". En este caso, pequeÃ±os significa nÃºmeros que son menores de 5. 

Â¿CÃ³mo se aplica `filter` para obtener el resultado?

In [66]:
numeros

[3, 13, 24, 42, 20, 33, 41, 31, 21, 46, 47, 7, 32, 2, 36, 14, 43, 19, 22, 29]

In [67]:
menores = []

for n in numeros:
    
    if n<5:
        menores.append(n)
        
menores

[3, 2]

In [68]:
def filtrar(n):
    
    if n<5:
        return n

In [69]:
list(filter(filtrar, numeros))

[3, 2]

In [70]:
list(map(filtrar, numeros))

[3,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2,
 None,
 None,
 None,
 None,
 None,
 None]

In [71]:
lambda n: n<5

In [73]:
(lambda n: n<5)(6)

False

In [75]:
list(filter(lambda n: n<5, numeros))

[3, 2]

ðŸ¤”ðŸ¤¯ **Nuevo Retito**, como lo harÃ­amos con una lambda? ðŸ¤”ðŸ¤¯

Tenemos una lista de nÃºmeros y tenemos que sacar los impares

In [79]:
def pares(n):
    
    return n%2==0

In [80]:
list(filter(pares, numeros))

[24, 42, 20, 46, 32, 2, 36, 14, 22]

In [81]:
list(filter(lambda n: n%2==0, numeros))

[24, 42, 20, 46, 32, 2, 36, 14, 22]

ðŸŒŠðŸ’ª **EJERCICIO** ðŸ’ªðŸŒŠ

Nos van a pasar una lista de palabras y sacar aquellas que tienen "i".

In [82]:
lista_palabras

['brocoli', 'jamon', 'chorizo', 'huevo', 'zanahoria', 'brocoli']

In [84]:
'i' in 'jamon'

False

In [85]:
def con_la_i(palabra):
    
    return 'i' in palabra

In [86]:
list(filter(con_la_i, lista_palabras))

['brocoli', 'chorizo', 'zanahoria', 'brocoli']

In [87]:
list(filter(lambda palabra: 'i' in palabra, lista_palabras))

['brocoli', 'chorizo', 'zanahoria', 'brocoli']

# Reduce

Reduce toma una condiciÃ³n y aplica esa condiciÃ³n al iterable de manera que nuestra salida se "reduce" a un solo valor.

En este caso necesitamos importarnos una librerÃ­a

```python
from functools import reduce
```



```python
# Sintaxis bÃ¡sica de reduce, igual que filter y map!
new_list = reduce(funcion, iterable) # âš ï¸ ojo que en este caso no hay que poner `list`
```

In [88]:
from functools import reduce

Queremos encontrar la suma de todos los valores de nuestra lista.

In [90]:
lista_random = random.sample(range(1,100), 20)

print(lista_random)

[95, 11, 90, 53, 67, 14, 76, 37, 63, 12, 44, 58, 70, 25, 78, 32, 66, 34, 21, 84]

In [91]:
sum(lista_random)

1030

In [93]:
def sumar(lista):
    
    resultado = 0
    
    for e in lista:
        resultado += e
        
    return resultado

In [94]:
sumar(lista_random)

1030

In [95]:
def sumar2(a, b):
    return a+b

In [96]:
reduce(sumar2, lista_random)

1030

In [97]:
# productorio


def producto(a, b):
    return a*b

In [98]:
reduce(producto, lista_random)

438590633653735867729487462400000

In [99]:
reduce(lambda a,b: a*b, lista_random)

438590633653735867729487462400000

In [106]:
# distintos tipo de dato, la clave esta en la funcion


def prueba(elemento):
    
    if type(elemento)==str:
        return elemento.upper()
    else:
        return elemento*2

In [107]:
liusta = [1,2,3, 'hola', 'que tal', 0.14, 3.1416]

In [108]:
list(map(prueba, liusta))

[2, 4, 6, 'HOLA', 'QUE TAL', 0.28, 6.2832]

In [109]:
list(map(lambda e: e.upper() if type(e)==str else e*2, liusta))

[2, 4, 6, 'HOLA', 'QUE TAL', 0.28, 6.2832]