# Librerias

In [34]:
# importamos librerias necesarias
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
# opcion de pandas para ver todas las columnas de un dataframe sin puntos suspensivos
pd.set_option('display.max_columns', None)

# Carga de datos

In [37]:
df = pd.read_csv("data/finanzas-hotel-bookings-limpio.csv")
df

,hotel,market_segment,distribution_channel,agent,company,previous_cancellations,previous_bookings_not_canceled,booking_changes,is_canceled,reservation_status,reservation_status_date,arrival_date,arrival_date_week_number,diferencia_dias,overnight_stays,stays_in_weekend_nights,stays_in_week_nights,country,latitud,longitud,is_repeated_guest,adults,children,babies,number_of_guests,customer_type,days_in_waiting_list,lead_time,reserved_room_type,assigned_room_type,meal,required_car_parking_spaces,total_of_special_requests,adr
0,Resort Hotel,Direct,Direct,250.0,NaN,0,0,1,0,Check-Out,2015-07-07,2015-07-01,27,6,6,2,4,Portugal,39.662165,-8.135352,0,2,0.0,0,2.0,Transient,0,72,A,A,BB,0,1,84.67
1,Resort Hotel,Direct,Direct,250.0,NaN,0,0,1,0,Check-Out,2015-07-07,2015-07-01,27,6,6,2,4,Portugal,39.662165,-8.135352,0,2,0.0,0,2.0,Transient,0,72,D,D,BB,0,1,99.67
2,Resort Hotel,Offline TA/TO,TA/TO,5.0,NaN,0,0,0,0,Check-Out,2015-08-07,2015-07-01,27,37,7,2,5,Portugal,39.662165,-8.135352,0,2,0.0,0,2.0,Transient,0,78,D,D,BB,1,0,63.60
3,Resort Hotel,Offline TA/TO,TA/TO,8.0,NaN,0,0,0,0,Check-Out,2015-08-07,2015-07-01,27,37,7,2,5,Ireland,52.865196,-7.979460,0,2,0.0,0,2.0,Contract,0,48,D,D,BB,0,0,79.50
4,Resort Hotel,Online TA,TA/TO,240.0,NaN,0,0,0,0,Check-Out,2015-08-07,2015-07-01,27,37,7,2,5,Portugal,39.662165,-8.135352,0,2,0.0,0,2.0,Transient,0,77,A,A,BB,0,0,94.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71197,City Hotel,Direct,Direct,NaN,NaN,0,0,0,1,No-Show,2015-11-12,2015-12-11,50,-29,7,2,5,Angola,-11.877577,17.569124,0,1,0.0,0,1.0,Transient,0,2,E,E,BB,0,1,104.00
71198,City Hotel,Corporate,Corporate,NaN,219.0,0,5,0,1,No-Show,2016-09-11,2016-11-09,46,-59,1,0,1,Portugal,39.662165,-8.135352,1,1,0.0,0,1.0,Transient,0,6,D,D,BB,0,1,94.00
71199,City Hotel,Corporate,Corporate,NaN,219.0,0,10,0,1,No-Show,2016-02-11,2016-11-02,45,-265,1,0,1,Portugal,39.662165,-8.135352,1,1,0.0,0,1.0,Transient,0,26,A,E,BB,0,1,88.00
71200,City Hotel,Aviation,Corporate,NaN,153.0,0,1,0,1,No-Show,2017-01-02,2017-02-01,5,-30,0,0,0,Austria,47.593970,14.124560,1,1,0.0,0,1.0,Transient,0,1,A,A,BB,0,1,0.00
71201,City Hotel,Corporate,Corporate,NaN,40.0,0,0,0,1,No-Show,2017-02-08,2017-08-02,31,-175,2,0,2,Portugal,39.662165,-8.135352,1,1,0.0,0,1.0,Transient,0,0,A,C,BB,0,1,65.00

In [6]:
df['is_canceled'].value_counts()

0    52173
1    19029
Name: is_canceled, dtype: int64

In [16]:
# transformampos la columna chuildren a int
df['children'].value_counts()

0.0    64385
1.0     3837
2.0     2917
3.0       60
Name: children, dtype: int64

In [23]:
df['children'].astype(str).str.split('.')[0][0]

'0'

In [33]:
dftt = df.copy()
dftt['children'] = dftt['children'].astype(int, errors='raise')
dftt['children'].value_counts()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer